<nav class="menu">
  <div class="container_menu">
    <ul class="left_links">
      <li><a href="/" routerLink="/">Home</a></li>
      <li><a routerLink="/html">Html</a></li>
      <li><a routerLink="/css">css</a></li>
      <li><a routerLink="/">Sass/Scss</a></li>
      <li><a routerLink="/">Stylus</a></li>
      <li><a routerLink="/">JavaScript</a></li>
      <li><a routerLink="/">Jquery</a></li>
      <li><a routerLink="/">TypeScript</a></li>
      <li><a routerLink="/">React</a></li>
      <li><a routerLink="/">Angular</a></li>
      <li><a routerLink="/">Vue</a></li>
    </ul>
    <ul class="right_links">
      <li><a routerLink="/about">Sobre o projeto</a></li>
      <li><a routerLink="/contact">Seja um autor</a></li>
    </ul>
  </div>
</nav>
